Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
python-dotenv==1.0.0
opencv-python==4.8.1.78
simple-websocket==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
Flask-SocketIO==5.3.5
pyproj==3.6.0
numpy==1.26.4
Pillow==10.4.0